body{
    background-color: white;
    margin: 0;
    display: flex;
}

svg{
    display: inline-block;   
}

/* .popup{
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    width: 300px;
    height: 180px;
    padding: 15px;
    border: solid 1px black;
    background: red;
    display:none;


} */

div#containerLegenda{
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}
.mapdiv{
  background-color: white;
  width: 600px;
  height: 600px;
  border: 1px solid gray;
  border-radius: 25px;
}

.mapdiv path {
    fill: #8d98a4;
    stroke:white;
    stroke-width:"2";
}

.mapdiv text{
    fill: #000000;; 
    font:9px Arial-BoldMT, sans-serif; 
    cursor:pointer;
}


.mapdiv a:hover path{ 
    fill: grey; 
}
div#diaTxt{
  /* position: fixed; */
  width: 400px;
  height: 150px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #20B2AA;
  box-shadow: 3px 3px 5px #DCDCDC;
  margin-top: 10px;
  font-family: sans-serif;
  text-align: justify;
  padding: 22px;
  font-size: 24px;
  color: black; 
  float: right;
  font-weight: 550;
}
div#totalCasos{
  /* position: fixed; */

  bottom: 100px;
  width: 400px;
  height: 150px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #20B2AA;
  box-shadow: 3px 3px 5px #DCDCDC;
  font-family: sans-serif;
  text-align: justify;
  padding: 22px;
  font-size: 24px;
  color: black; 
  float: right;
  margin-top: 20px;
  font-weight: 550;

}


